* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }

/* 
 ======================================================
                          Navbar
  ======================================================*/

#navbar {
  background: white;
  border-bottom: black 1px solid;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 60px;
  line-height: 60px;
  width: 100vw;
  z-index: 10;
}

.navbar-wrapper {
    text-align: center;
    width: 70%;
}

.logo {
    float: left;
    margin-left: 100px;
    font-size: 1.5em;
    height: 60px;
}

#navbar ul {
    float: left;
    list-style: none;
    margin-left: 60px;
    margin-top: -4px;
    text-align: center;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
  }

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: rgb(13, 26, 38);
    display: block;
    font-size: 1em;
    height: 60px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }